<div class="relative md:ml-64 bg-gray-200">
    <!-- Navbar -->
    <nav
        class="absolute top-0 left-0 w-full z-10 bg-transparent md:flex-row md:flex-no-wrap md:justify-start flex items-center p-4">
        <div class="w-full mx-autp items-center flex justify-between md:flex-no-wrap flex-wrap md:px-10 px-4">
            <!-- Brand -->
            <div class="align-left">
                <a class="text-white text-2xl  hidden lg:inline-block  mt-5">Settings</a>
            </div>
        </div>
    </nav>
    <div class="relative bg-dashboard md:pt-24 pb-32 pt-12"><div class="px-4 md:px-10 mx-auto w-full pb-4"></div></div>

        <div class="-mt-32 px-10 z-10">

            <!-- Cards -->
            <div class="relative flex flex-col my-4">
                <div class="form-group">
                    <input class="form-control rounded border-0 shadow-sm w-5/6" id="project" placeholder="Project name" type="text">
                    <button class="rounded bg-yellow-500 px-4 p-2 w-1/6">Add</button>
                </div>
            </div>

            <div class="relative flex flex-col min-w-0 break-words bg-white w-full mb-6 shadow-lg rounded">

                <div class="rounded-t mb-0 px-4 py-3 border-0">
                    <div class="flex flex-wrap items-center">
                        <div class="relative w-full px-4 max-w-full flex-grow flex-1">
                            <h3 class="font-semibold text-base text-blueGray-700">Projects</h3>
                        </div>
                    </div>
                </div>
                <div class="block w-full overflow-x-auto">
                    <table class="items-center w-full bg-transparent border-collapse">
                        <thead>
                            <tr>
                                <th
                                    class="px-6 bg-blueGray-50 text-blueGray-500 align-middle border border-solid border-blueGray-100 py-3 text-xs uppercase border-l-0 border-r-0 whitespace-nowrap font-semibold text-left">
                                    project name
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let project of projects">
                                <th
                                    class="border-t-0 px-6 align-middle border-l-0 border-r-0 text-xs whitespace-nowrap p-4 text-left">
                                    {{project.Name}}
                                </th>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>